body {
  font-family: system-ui, sans-serif;
}

header {
  text-align: center;
  font-size: x-large;
}

label,
input,
textarea,
select,
button {
  font-size: 1.3rem;
  line-height: 1.2;
}

form {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
}

form div {
  margin-top: 1rem;
}

label {
  margin-bottom: 0.4rem;
  display: block;
}

input,
textarea {
  padding: 0.4rem;
  width: 100%;
  border: 1px solid;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  display: grid;
  place-content: center;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

button {
  margin-top: 2rem;
  background: #3740ff;
  color: #fff;
  border: none;
  padding: 0.6rem;
}

button:hover,
button:focus {
  background: #272eb5;
}
